[Unit]
Description=report client
After=network-online.target

[Service]
Environment=PATH=/usr/bin/:/opt/bin:/bin
Environment=REPORT_ADDR=mon.hkjn.me:50051
Environment=REPORT_FACTS_PATH=/etc/report_facts.json
ExecStartPre=-/bin/bash -c "gather_facts > /etc/report_facts.json"
ExecStart=/bin/bash -c report_client

[Install]
WantedBy=multi-user.target

