[Unit]
Description=telemetry server
After=network-online.target

[Service]
Environment=REPORT_ADDR=localhost:50051
# Environment=REPORT_DEBUGGING=true
ExecStart=/bin/bash -c " \
    REPORT_SLACK_TOKEN=$(cat /etc/secrets/slack/token.asc) \
    /opt/bin/tserver"

[Install]
WantedBy=network-online.target
